body {
  background-color: #e4e3e3;
  font-family: arial;
  color: #323232;
  display: block;
  margin-left: auto;
  margin-right: auto;
  min-width: 530px;
  max-width: 50%;
}

hr {
  border-width: 10px;
  width: 25%;
  border-style: dotted none none;
  border-color: grey;
}

h1 {color: black}
h2,h3 {color: #323232}
